.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;

  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  padding: 30px;
  box-sizing: border-box;
}

.header-title {
  font-family: "Noto Serif", serif;
  font-size: 58px;
  line-height: 72px;
  font-weight: normal;
  margin-top: 80px;
  margin-bottom: 0;
  max-width: 709px;
  position: relative;
  z-index: 2;
}

.header-title span {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  margin-left: 40px;
}

.header-content {
  max-width: 700px;
  position: relative;
}

.header-description {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 40px;
  max-width: 500px;
}

.header-image {
  position: absolute;
  right: 0;
  top: 124px;
  width: 646px;
  height: 568px;
  z-index: 0;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;

  z-index: 2;
}

.info-text {
  font-family: "Inter", sans-serif;
  align-items: flex-end;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  /* Medium weight */
  color: #6f6f6f;
  margin: 0;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3 {
  font-family: "Noto Serif", "Times New Roman", serif;
}

.span-accent {
  font-family: "Inter", sans-serif;
  font-style: italic;
  color: #ff976b;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
}